<html>
  <head>

        <title>Help</title>
                <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <p>{{title}}</p>
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <h1>{{name}} This will be the base help page</h1>
    <p>{{message}}</p>

    </div>

    {{>footer}}
  </body>
</html>