<html>
  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />

    Head of the Page
  </head>

  <body>
    <div class="main-content">
      {{>header}}  
        <p>Use this site to get your weather</p>
        <form action="test">
          <input type="text" name="" id="" placeholder="Location">
          <button>Search</button>
        </form>
        <P id="message-1"></P>
        <P id="message-2"></P>
    </div>

        

    {{>footer}}
        <script src="/js/app.js"></script>
  </body>
</html>